@media only screen and (max-width: 768px){
  @font-face {
    font-family: myFont;
    src: url("./Font/NOPIA DEMO.ttf");
  }
  @font-face {
    font-family: myfont1;
    src: url("./Font/AbrilFatface-Regular.ttf");
  }
  body{
      background-color: rgb(235, 229, 229);
      padding: 0;
      margin: 0;
  }
  
  #header{
      position: relative;
      padding: 5px;
      width: 96%;
      height: 34vh;
      background-color: rgba(20, 44, 46, 0.7);
      background-repeat: no-repeat;
      overflow: hidden;
    }
  #nav-bar{
      position: fixed;
      width: 100%;
      height: 7vh;
      margin: 0;
      background: none;
  }
    .nav-link{
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
      width: 8%;
      padding: 1%;
      background-image: linear-gradient(32deg, steelblue, cyan, white);
      border-radius: 5px;
      margin-top: 4%;
      margin-left: 9%;
      z-index: 2;
    }
  .nav-link:hover{
      box-shadow: 1px 1px 30px lime, 1px 2px 32px purple;
  }  
  #main-title{
      position: relative;    
      top: 28%;
      margin: 0;
      font-size: 1.1rem;
      font-family: myFont;
      width: max-content;
      color: #fff;
      mix-blend-mode: overlay;
      text-shadow: 1px 2px 0px yellow;
      padding: 0;
  }
  
  #main-image{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
  }

    marquee {
      height: 5%;
      z-index: -1;
      direction: initial;
    }
    #date-venue{
      position: absolute;
      top: 65%;
      left: 0;
      font-size: 0.7em;
      color: white;
      z-index: 1;
    }
    #img-container{
      position: relative;
      top: 40%;
    }
    .band{
      width: 25%;
      height: 49%;
      z-index: -1;
      border-radius: 6%;
      box-shadow: 4px 4px 25px black;
      margin: 3%;
    }
  
    #preview-title{
      position: relative;
      left: 1%;
      font-size: 1rem;
      color: white;
      justify-self: center;
      width: max-content;
      text-shadow: 1px 1px 0 purple;
      box-shadow: 1px 4px 10px black;
      border-radius: 5px;
      z-index: -1;
      background-image: linear-gradient(32deg, steelblue, cyan, rgb(15, 74, 97));
  
    }
    #previewer-video{
      position: relative;
      left: 1%;
      width: 95%;
      margin: 2%;
      border-radius: 9px;
      box-shadow: 1px 2px 30px grey;
      z-index: -1;
    }
    
    form{
      margin: 1%;
    }
    #list-container{
      position: relative;
      display: flex;
      height: 80vh;
      padding: 0;
      flex-direction: column;
      overflow: hidden;
    }
    #background-video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      object-fit: cover;
      mix-blend-mode: darken;
    }
    
    #peformances-title{
      position: relative;
      top: -4%;
      font-size: 1.2em;
      width: max-content;
      color: whitesmoke;
      z-index: 1;
      background-image: linear-gradient(32deg, steelblue, cyan, rgb(15, 74, 97));
      text-shadow: 2px 1px 0 purple;
      box-shadow: 1px 4px 10px black;
      border-radius: 5px;
    }
   
   
    #bookings-title{
      font-size: 1em;
      margin-top: 3%;
      background-image: linear-gradient(32deg, steelblue, cyan, rgb(15, 74, 97));
      text-shadow: 2px 1px 0 purple;
      box-shadow: 1px 4px 10px black;
      color: whitesmoke;
      width: max-content;
    }
    p{
      margin-left: 1%;
      width: min-content;
      font-size: 0.8em;
    }
    ul{
      position: relative;
      top: -1%;
      padding: 0;
    }
    li{
      width: 24%;
      width: max-content;
      z-index: 0;
      font-size: 1rem;
      color: whitesmoke;
      margin-bottom: 3%;
      margin-left: 7%;
    }
     li:hover{
      z-index: 2;
      font-size: 1.1rem;
      transform: scale(1.1) translate(18%, 0);
      backdrop-filter: blur(35px);
      box-shadow: 4px 3px 4px rgb(60, 201, 211);
      text-shadow: 1px 2px 0 black;
      border-radius: 5px;
    }
   
}