body{
    background-color: rgb(7, 34, 25);
    /* padding: auto; */
    margin: auto;
    justify-items: center;
}
#title{
    text-align: center;
    font-family: fantasy;
    letter-spacing: .2em;
    font-size: 3rem;
    color: white;
}
#calculator{
    border: 1px solid gray;
    box-shadow: 1px 2px 10px grey;
    width: 35vw;
    height: 70vh;
    padding-top: 1%;
    margin: auto;
    justify-self: center;
    border-radius: 10px;
}
#screen{
    border: 1.3px solid rgba(8, 248, 248, 0.5);
    width: 95%;
    height: 10%;
    margin: 2%;
    border-radius: 10px;

}
#display{
    color: white;
    font-family: 'sans-serif';
    margin: 1%;
}
#key-holder{
    /* border: 1px solid white; */
    display: flex;
    flex-flow: row;
    width: 98%;
    height: 82%;
    margin: 1%;
}
#numbers-container{
    /* border: 1px solid yellow; */
    width: 50%;
    margin: 1%;
}
#operators-container{
    /* border: 1px solid brown; */
    width: 50%;
    margin: 1%;
    padding-left: 2%;
}
.number{
    color: steelblue;
    font-size: 1.5em;
    width: 30%;
    height: 20%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px grey;
    border: none;
    background: none;
}
.number:hover{
    border: 1.3px solid rgba(8, 248, 248, 0.5);
    box-shadow: 1px 2px 15px grey;
    text-shadow: 2px 2px 10px black;
    transform: scale(1.1);
}
.operator{
    color: steelblue;
    font-size: 1.5em;
    width: 43%;
    height: 20%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 1px 2px 10px grey;
    border: none;
    background: none;
}
.operator:hover{
    border: 1.3px solid rgba(8, 248, 248, 0.5);
    box-shadow: 1px 2px 15px grey;
    text-shadow: 2px 2px 10px black;
    transform: scale(1.1);
}